<section>
    <div ng-show="vm.loading" class="loading-div"><img src="Images/Loading_icon.gif" class="loading" /></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="pull-right">
            <ul ng-if="vm.isLoggedIn()">
                <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>{{vm.currentUserName}}
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a ui-sref="currentUser">Profile</a></li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li><a href="javascript:;">Help</a></li>
                        <li><a href="" ng-click="vm.logout()"><i class="fa fa-sign-out pull-right" ></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!--<div ng-if="!vm.isLoggedIn()" class="btn btn-success" ng-click="vm.logout()" ui-sref="login">Login</div>-->
        </div>
    </nav>


    <div class="nav-side-menu" style="z-index: 9999;" ng-if="vm.isLoggedIn()">
        <div class="brand"><img src="/Images/MIS logo-06.png" width="80" height="auto" /></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li ui-sref="home">
                    <a >
                        <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    </a>
                </li>

                <li data-toggle="collapse" data-target="#academics" class="collapsed">
                    <a href="#"><i class="fa fa-graduation-cap fa-lg"></i> Academics <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="academics">
                    <li data-toggle="collapse" data-target="#students" class="collapsed">
                        <a href="#"><i class="fa fa-users fa-lg"></i> Students <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="students">
                        <li ui-sref="students.add({action:'Add'})"><a>Add Student</a></li>
                        <li ui-sref="students.search"><a>Search Student</a></li>
                    </ul>
                   
                    <li data-toggle="collapse" data-target="#academicSett" class="collapsed">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i> Academic Settings<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="academicSett">
                        <li ui-sref="courses"><a>Courses</a></li>
                        <li ui-sref="batches"><a>Batches</a></li>
                        <li ui-sref="category"><a>Student Settings</a></li>
                    </ul>
                </ul>
                <li ng-if="vm.userType == ('A' || 'M')" data-toggle="collapse" data-target="#administration" class="collapsed">
                    <a href="#"><i class="fa fa-users fa-lg"></i> Administration <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="administration">
                    <li data-toggle="collapse" data-target="#employee" class="collapsed">
                        <a href="#"><i class="fa fa-users fa-lg"></i> Employee <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="employee">
                        <li ui-sref="employee.add({action:'Add'})"><a>Add Employee</a></li>
                        <li ui-sref="employee.search"><a>Search Employee</a></li>
                        <li ui-sref="employee.attendance"><a>Attendance</a></li>
                        <li ui-sref="employee.timeTable"><a>Time Table</a></li>
                        <li ui-sref="employee.settings"><a>HR Settings</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#finance" class="collapsed">
                        <a href="#"><i class="fa fa-money fa-lg"></i> Finance <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="finance">
                        <li ui-sref="finance.fees"><a>Fees</a></li>
                        <li ui-sref="finance.fees"><a>Fee Structure</a></li>
                        <li ui-sref="employee.settings"><a>HR Settings</a></li>
                    </ul>
                </ul>
                <li ng-if="vm.userType == ('A' || 'M') "  data-toggle="collapse" data-target="#user" class="collapsed">
                    <a href="#"><i class="fa fa-users fa-lg"></i> Users <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="user">
                    <li ui-sref="users.add({action:'Add'})"><a>Create User</a></li>
                    <li ui-sref="users.search"><a>Search User</a></li>
                    <li ui-sref="current"><a>User Settings</a></li>
                </ul>
            </ul>
        </div>
    </div>
</section>