<section>
    <h2 class="modal-header">User Details</h2>
    <div class="form-group">
        <input type="text" class="form-control col-md-3" ng-model="search" />
        <input type="button" class="btn btn-info" value="Search" ng-click="Search()" />
    </div>

    <div class="divList">
        <table class="table table-hover">
            <tr>
                <td><b>#</b></td>
                <td><b>Name</b></td>
                <td><b>Username</b></td>
                <td><b>Password</b></td>
                <td><b>Master ID</b></td>
                <td><b>Status</b></td>
                <td><b>Prefix</b></td>
                <td><b>ID</b></td>
                
                <td><b>Action</b></td>

            </tr>
            <tr ng-repeat="user in Users | filter: {'NAME':search}">
                <td>
                    {{$index +1}}
                </td>
                <td>
                    {{user.NAME}}
                </td>
                <td>
                    {{user.UserName}}
                </td>
                <td>
                    {{user.UserPassword}}
                </td>
                <td>
                    {{user.MasterID}}
                </td>
                <td>
                    {{user.Status}}
                </td>
                
                <td>
                    {{Prefix = (user.MasterID | splitString)}}
                </td>
                <td>
                    {{MasterKey = (user.MasterID | splitNumber)}}
                </td>
                <td>
                    <a ui-sref="users.Update({id:user.UserID, action:'Update'})" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    
                    <a ng-if="Prefix == 'T'" ui-sref="employee.detailAsRoot({id:MasterKey})" class="btn btn-success" value="View"><i class="glyphicon glyphicon-user"> </i>View</a>
                    <a ng-if="Prefix == 'S'" ui-sref="student.detailAsRoot({id:MasterKey})" class="btn btn-success" value="View"><i class="glyphicon glyphicon-user"> </i>View</a>
                    
                </td>
            </tr>
        </table>
    </div>


</section>