<section>
    <h2 class="modal-header">Teachers Time Table</h2>
    <div class="form-group">
        <input type="text" class="form-control col-md-3" ng-model="search" />
        <input type="button" class="btn btn-info" value="Search" ng-click="Search()" />
        <div class="btn btn-primary" ui-sref="employee.lecture.addUpdate({action: 'Add'})">Add Lecture</div>
    </div>

    <div class="divList">
        <table class="table table-hover">
            <tr>
                <td><b>#</b></td>
                <td><b>Course</b></td>
                <td><b>Teachers</b></td>
                <td><b>Action</b></td>

            </tr>
            <tr ng-repeat="L in lectures | filter: {'NAME':search}">
                <td>
                    {{$index +1}}
                </td>
                <td>
                    {{L.course.CourseName}}
                </td>
                <td>
                    {{L.TeacherID}}
                </td>
                <td>
                    <a ui-sref="employee.lecture.addUpdate({action: 'Update', id:L.Lecture_ID})" class="btn btn-success"><i class="glyphicon glyphicon-edit"> </i></a>
                    <a class="btn btn-success" value="remove"><i class="glyphicon glyphicon-remove"> </i></a>
                </td>
            </tr>
        </table>
    </div>


</section>